///////////////////////////////////// INTERVIEW PAGE //////////////////////////////////

.interview {
    @extend %padded-content;
}

.interview__intro {
    padding: 50px 0px;
    @supports (padding-top: 10vh) {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    border-bottom: $block-border;
    text-align: center;
    @include media(tablet) {
        padding: 40px 30px;
    }
    @include media(desktop) {
        padding: 80px 70px 90px (70px + 80px);
        text-align: left;
    }
}

.interview__number {
    display: block;
    margin: 0px auto 15px;
    font-size: 6vw;
    line-height: 1em;
    color: $grey-light;
    @include media(tablet) {
        font-size: 24px;
    }
    @include media(desktop) {
        position: absolute;
        margin: 25px auto 0px -80px;
    }
}

.interview__title {
    margin: 10px auto;
    font-size: 8vw;
    line-height: 1em;
    color: $grey-dark;
    @include media(tablet) {
        font-size: 42px;
    }
    @include media(desktop) {
        font-size: 52px;
    }
}

.interviewee {
    position: relative;
    font-size: 14px;
    line-height: 1.25em;
    color: $grey-light;
    @include media(tablet) {
        padding-left: 200px;
    }
}

.interviewee__avatar {
    width: 80px;
    height: auto;
    margin: 10px auto;
    @include media(tablet) {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 160px;
        margin: 0px;
    }
}

.interviewee__bio {
    margin: 10px auto;
    @include media(tablet) {
        margin: 40px 0px 0px 0px;
        text-align: left;
    }

    p {
        font-size: 16px;
        line-height: 1.25em;
        margin-bottom: 6px;
        @include media(tablet) {
            font-size: 14px;
        }
    }
}

.interviewee__links {
    @extend %links-list;
    margin: 10px auto 0px;
    @include media(tablet) {
        margin: 40px 0px 0px 0px;
    }
    a {
        text-decoration: underline;
    }
}

.interview__main {
    padding: 30px 0px 0px;
    @supports (padding-top: 5vh) {
        padding-top: 5vh;
    }
    display: flex;
    flex-direction: column;
    @include media(tablet) {
        padding: 40px 30px 0px;
    }
    @include media(desktop) {
        padding: 80px 70px 0px;
    }

    .dialog {
        margin: 0px 0px 1em;
        @include media(mobile) {
            padding: 0px 20px;
        }
        @include media(tablet) {
            max-width: 75%;
            margin-bottom: 2em;
        }
        @include media(desktop) {
            max-width: 60%;
        }
    }

    $mobile-border-width: 2px;
    $mobile-border-color: $grey-pale;

    .dialog--question {
        @include media(mobile) {
            border-left: $mobile-border-width solid $mobile-border-color;
            margin-right: $mobile-border-width;
        }
        @include media(tablet) {
            align-self: flex-start;
        }
    }

    .dialog--answer {
        @include media(mobile) {
            border-right: $block-border;
            margin-left: $mobile-border-width;
        }
        @include media(tablet) {
            align-self: flex-end;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.4em;
        margin-bottom: 12px;
        @include media(desktop) {
            font-size: 18px;
        }
    }

}

.share {
    position: relative;
    max-width: 320px;
    margin: 50px auto 0px;
    padding: 40px 0px;
    display: block;
    text-align: center;
    border-top: 1px solid $grey-pale;
    @include media(tablet) {
        margin-bottom: 50px;
    }

    .share__cta {
        position: absolute;
        top: 0px;
        left: 50%;
        padding: 0px 15px;
        font-size: 12px;
        color: $grey-light;
        color: #D0D0D0;
        background: #FFF;
        transform: translate(-50%,-50%);
    }

    .share__socials {
        li {
            display: inline-block;
            margin: 10px;
        }
    }

}
