///////////////////////////////////// MORE PAGE //////////////////////////////////

.more__section {
    padding: 50px 0px;
    @include media(tablet) {
        padding: 90px 0px;
    }

    p {
        margin-bottom: 1em;
    }

}

.more__title {
    margin: 0px 0px 1em;
    font-size: 6vw;
    line-height: 1em;
    color: $grey-dark;
    @include media(tablet) {
        font-size: 36px;
    }
}


// ===== MORE > SUBSCRIBE =====

$subscribe-input-height: 42px;

.subscribe-form {
    max-width: 400px;
    @include media(tablet) {
        max-width: 450px;
    }
}

.subscribe-form__label {
    display: block;
    margin: 0px 0px 20px;
    font-size: 16px;
    line-height: 1.2em;
    color: $grey-dark;
    text-align: center;
}

.subscribe-form__group {
    @include media(tablet) {
        display: flex;
        flex-direction: row;
    }
}

.subscribe-form__input {
    width: 100%;
    display: block;
    padding: 5px 15px;
    font-size: 16px;
    line-height: ($subscribe-input-height - 10px - 2px);
    color: $grey-dark;
    border: 1px solid #E4E4E4;

    &::placeholder {
        color: $grey-light;
        font-size: 16px;
        line-height: inherit;
    }

}

.subscribe-form__button {
    width: 100%;
    height: $subscribe-input-height;
    margin: 10px auto 0px;
    padding: 7px 30px 3px; // optical alignment
    display: block;
    font-size: 14px;
    line-height: ($subscribe-input-height - 10px);
    text-transform: uppercase;
    color: #FFFFFF;
    background: $grey-light;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $grey-base; // $grey-dark
    }
    @include media(tablet) {
        width: auto;
        margin: 0px 0px 0px 4px;
    }
}
