<header>
    <div class="header__wrapper">
        <a class="header__logo" href="./">to__bem or not__to--bem</a>
        <span class="header__caption">{{ project.description }}</span>
        <a class="header__toggle js-overlay-toggle">
            <svg viewBox="0 0 40 40">
                <rect x="0" y="8" width="40" height="4"></rect>
                <rect x="0" y="18" width="40" height="4"></rect>
                <rect x="0" y="28" width="40" height="4"></rect>
            </svg>
            <span>MENU</span>
        </a>
    </div>
</header>