---
number: 4
---

{% extends "../templates/pages/interview.html" %}

{% block biography %}
<p>Frontend developer for <a href="https://www.zalando.com">Zalando</a>, previously she has worked for <a href="https://sc5.io/">SC5</a> (Helsinki), TMG (Amsterdam) and <a href="http://www.yandex.com/">Yandex</a> (Moscow).</p>
<p>Member of the <a href="https://en.bem.info/">BEM team</a> for more than 4 years, author of the first article about BEM in English on <a href="https://www.smashingmagazine.com/2012/04/a-new-front-end-methodology-bem/">Smashing Magazine</a>.</p>
<p>React lover, BEM adept and a cat fan.</p>
{% endblock %}

{% block interview %}

<div class="dialog dialog--question">
    <p>Hi Varya</p>
    <p>thanks for accepting my invite, after the nice chat we had, eating coconut and chatting about CSS on a terrace in London.</p>
    <p><em>[For a series of lucky events, I was trying to contact her for the interview, while at the same time Daria Bogomolova and Konstantin Dzuin invited her in <a href="https://badoo.com">Badoo</a>. A sign of destiny, probably.]</em></p>
</div>
<div class="dialog dialog--answer">
    <p>Thank you very much for this interview opportunity :-)</p>
</div>
<div class="dialog dialog--question">
    <p>Can you tell a little bit more about you? I see that now you work at <a href="https://www.zalando.com">Zalando</a>, right? And previously you worked at <a href="http://www.yandex.com/">Yandex</a>, where BEM was born, and you were one of the <a href="https://github.com/orgs/getbem/people">big contributors</a> to the promotion of BEM.</p>
</div>
<div class="dialog dialog--answer">
    <p>Ok, about myself. I am Varya, originally from Russia. In there I have worked for <a href="http://www.yandex.com/">Yandex</a> for 5 years and I was part of BEM team.</p>
    <p>We were solving the problems of sharing CSS and JavaScript components across a huge company with hundreds of projects.</p>
    <p>Part of the findings were moved into open source, under the name BEM.</p>
    <p>Lately, I continued focusing on modular web development. Bringing this practises into the working process was a part of my work for TMG (Amsterdam) and SC5 Online (Helsinki).</p>
    <p>Currently I work for a German Zalando, but in Helsinki tech hub. In here, I also hope to develop modular frontend solutions.</p>
</div>
<div class="dialog dialog--question">
    <p>Most of the people (actually me too, before doing some research for this project) thinks that BEM is simply for CSS, and in most of the cases that is just about naming conventions.</p>
    <p>But from what I understand, it&apos;s more complex and involves much more than CSS. I see in the BEM documentation and the Yandex github repositories that there are <a href="https://github.com/bem/bem-tools">BEM tools</a>, there is BEMHTML, BEMJS and BEMJSON.</p>
    <p>It&apos;s more a <a href="https://en.bem.info/methodology/">high-level methodological approach</a> and at the same time a tooling stack/infrastructure to build modular UI components.</p>
    <p>Also on the <a href="https://en.bem.info/">official BEM website</a>, the methodology is just a part of the whole: there is also <a href="https://en.bem.info/toolbox/">a toolbox</a>, a <a href="https://en.bem.info/platform/">platform</a>, and a community too.</p>
    <p>Can you explain a little bit more about how BEM was/is used at Yandex, and all this BEM-thingy? I mean, creating a front-end using BEMJSON was completely a surprise, for me!</p>
</div>
<div class="dialog dialog--answer">
    <p>Yes, all you said is correct.</p>
    <p>But to explain it we should go back in the history a bit :-)</p>
</div>
<div class="dialog dialog--question">
    <p>Yes please, do it. :)</p>
</div>
<div class="dialog dialog--answer">
    <p>As I remember it was back in 2008. At Yandex, we already had hundreds of projects which we wanted to be under the same brand style.</p>
    <p>However, we supposed that delivering just CSS styles would not be enough. CSS matches with the HTML markup, and often in a component lifestyle this markup can be changed through refactorings or in the new versions of the components.</p>
    <p>To deliver CSS-only library would have caused a lot of pain when switching from version to version for our in-house library customers. If you have to imagine this kind of pain, think about new versions of Bootstrap :-) And multiply it by 1000 due to the bigger size of the library and the amount of projects.</p>
    <p>This is why from very beginning Yandex component libraries included the templating solution to produce HTML markup as well as CSS. By that time, it was XSL.</p>
    <p>Soon after, we decided to offer the JavaScript functionality for the components as well. So that every component would consist of 3 parts: CSS, the needed markup (generated by templates) and the associated JavaScript.</p>
    <p>The whole idea was a higher abstraction for a web interface. As a user sees the interface as a whole piece, a developer should consider it pretty similarly.</p>
    <p>The customers of Yandex UI libraries described the web pages they wanted to get as XML files where instead of complex markup with attached CSS and JS, they just wrote &lt;bem:this-awesome-component please=&quot;yes&quot;/&gt;.</p>
    <p>The BEM tooling knew how to read this XML declaration and build proper HTML, with the needed CSS and JavaScript for it.</p>
    <p>Before BEM became public, we made a huge shift from XML technologies to JavaScript and JSON, as it seemed to be the web&apos;s future.</p>
    <p>But in principle it was similar. A library customer described the desired page as a JSON file, where the needed components were nested JSON objects.</p>
    <p>Then, the tooling read this file, and applied the templates. This time it was JavaScript-based XJST (aka BEMHTML). As a result they got again HTML, attached CSS and built JavaScript.</p>
</div>
<div class="dialog dialog--question">
    <p>Well, described this way it&apos;s a completely different perspective on BEM. Simply impressive.</p>
    <p>And now it makes sense &quot;1000 times Bootstrap&quot; :)</p>
    <p>So, BEM was essentially a whole system (not simply a framework or a naming strategy) to solve large-scale problems and deal with this kind of complexity. And I can only imagine the number of developers involved.</p>
    <p>But how comes that this approach has widespread across the front-end world and was adopted (we will see in a moment how) by almost every developer and team as THE solution to all their CSS problems, when in most of the cases the projects and
        the complexity involved were probably infinitesimally lower than the ones faced in Yandex?</p>
    <p>Was simply &quot;the right thing with the right appeal at the right moment&quot;? An easy solution for the problems emerging at the growth of CSS complexity? Or there was much more?</p>
    <p>And why do you think people took only one part - essentially the CSS naming strategy, and the resulting better modularity - and left out all the rest? Was again a matter of &quot;pick and choose a quick solution to a problem&quot;?</p>
</div>
<div class="dialog dialog--answer">
    <p>In short, I think it was too complex to learn, while the average frontend problems were not as heavy as we have now.</p>
    <p>One the other hand, the idea of &quot;taking some parts of BEM&quot; seemed completely OK. So, it looked logical that people grabbed the CSS part only. It was all they needed to solve their problems.</p>
    <p>Also, this fact may be partly explained by the &quot;cultural gap&quot; phenomena.</p>
    <p>The full stack of BEM technologies is in use outside Yandex as well. But all of these companies are Russian companies.</p>
    <p>In the English-speaking community, BEM is known thanks to <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">Harry Robert&apos;s first article</a> on it. No wonder, it covered the CSS part.</p>
    <p>We, the international community, are getting more global and close to each other. But still the range of knowledge and approaches might be different depending on the language spoken.</p>
    <p>Actually, after realizing it, I started a side project of translating frontend articles INTO English. It would be nice to have all kind of information accessible for all the people.</p>
    <p>The project is called Frontend Babel and is available here: <a href="http://frontendbabel.info/">http://frontendbabel.info/</a></p>
</div>
<div class="dialog dialog--question">
    <p>From your personal perspective of course, how much do you think this factor of &quot;hype&quot; and &quot;the cool new thing&quot; (which is now becoming an important aspect of our job) impacted on the adoption of BEM?</p>
    <p>And on the other side, I would love to make the same question to Harry, let&apos;s see if I can manage to interview him too :)</p>
    <p>This &quot;hype&quot; was what made me suspicious about BEM, and ended up with me working on a project like &quot;To BEM or not to BEM&quot; in 2016, when it&apos;s now a de facto standard for CSS namespacing.</p>
</div>
<div class="dialog dialog--answer">
    <p>Do you mean &quot;hype&quot; from the company that created it or from all the passionate users of the community?</p>
</div>
<div class="dialog dialog--question">
    <p>Well, here come in play the different perspectives you were mentioning above: at the very beginning there was not a community of BEM users, at least not here in London. Its diffusion was mainly due to articles and talks like Harry&apos;s or yours,
        and also at the London front end meetups I clearly remember that - at the very beginning - it was a thing mainly presented in talks than actually used. It was experimental, at that time :)</p>
    <p>And then you saw it grow, but mainly because it was &quot;cool&quot;, not because there were real case histories behind it.</p>
    <p>Which is not bad, let&apos;s be clear.</p>
    <p>Simply (and we go back to the &quot;1000 times Bootstrap&quot; and problems and complexity at &#x201C;huge-scale&#x201D;) there were teams of one or two people, working on a simple project (let&apos;s say a small company website), adopting
        BEM to solve problems that themselves were creating, in the way they were developing and structuring their CSS codebase.</p>
    <p>And this lead to the idea (which still persists) that CSS has inherent problems, it&apos;s a faulty language.</p>
    <p>I think that in many cases BEM was adopted because people was told that could solve a whole series of problems - which is true - but then the developers simply adopted the tool without trying to understand if those were the same problems they
        were facing.</p>
    <p>The same developers that - me first, guilty as hell - took only the &quot;useful&quot; part of BEM without understanding that there was a whole world behind, that you described so clearly.</p>
    <p>I don&apos;t know if there is a question in this, but do you see my point?</p>
</div>
<div class="dialog dialog--answer">
    <p>I have very little to say here because I approached BEM from another side. For me, it was a &quot;problem => solution&quot; path, not the &quot;hype => solution&quot;.</p>
</div>
<div class="dialog dialog--question">
    <p>Yes, true.</p>
</div>
<div class="dialog dialog--answer">
    <p>I also believe that the people making the presentations mostly shared the solutions which had helped them to solve their problems.</p>
    <p>On the other hand, I admit that with BEM we did not have that huge BOOOOM! as we have now in the community with, let&apos;s say, React.</p>
    <p>From this fact, I came to the conclusion that less people experienced the problems which BEM offered to solve.</p>
</div>
<div class="dialog dialog--question">
    <p>What impresses me is that BEM - the Yandex system I mean - was absolutely a forerunner of the modern Atomic Design/Modular CSS approach that we see today.</p>
    <p>We still don&apos;t have a stable and acknowledged and &#x201C;standard&#x201D; way of doing it, with React and CSS Modules (or Atomic CSS), and you were doing it two/three years ago.</p>
    <p>Do you know if Yandex is still using it in this way? With BEMJSON and BEMTools?</p>
</div>
<div class="dialog dialog--answer">
    <p>As far as I know, Yandex is very happy with BEM now.</p>
    <p>I guess the logic is the same as I use with my blog :-) Although I&apos;m doing all the new projects with React, the blog is still running under BEM full stack. Because, what&apos;s working is working.</p>
    <p>I&apos;ve heard about different experiments like &quot;Angular+BEM&quot;, than lately &quot;React+BEM&quot;. But I never used them myself.</p>
</div>
<div class="dialog dialog--question">
    <p>You wrote the first article that appeared in English on BEM, on Smashing Magazine, titled <a href="https://www.smashingmagazine.com/2012/04/a-new-front-end-methodology-bem/">&#x201C;A New Front-End Methodology: BEM&#x201D;</a>.
    <p>A few time later you gave a talk at Front Trends, titled <a href="https://vimeo.com/66474705">&#x201C;The thinking behind BEM&#x201D;</a>.</P>
    <p>Since them you have always helped to promote the knowledge and the culture around BEM, last in time the project <a href="http://frontendbabel.info">Frontend Babel</a>.</p>
    <p>So you can look in perspective at these articles and talks. There is something you would change, looking at them? Or something that when read today makes you smile, or makes you think you were wrong on something, or makes you feel surprised by how far all of your (and other people&apos;s) work has gone?</p>
    <p>You compared BEM to React, well from my perspective, BEM is as famous as React, and it surely has a wider adoption!</p>
</div>
<div class="dialog dialog--answer">
    <p>Indeed, I would not write the same article and give the same presentation now. At least because nowadays we have different open source tools and technologies which did not exist by that time.</p>
    <p>As I said, I personally do not use BEMtools and BEM JavaScript approach for the new projects anymore. I currently use React and Webpack to solve the same problems. This is because besides the tools&apos; technical characteristics I also value their image in the community and the accessibility of information about them.</p>
    <p>However, I did recently try to solve the same problem as BEM full stack had aimed to solve long ago.</p>
    <p>I mean the problem of broken markup when switching the component library versions. BEM was an automated solution to it. If the markup is produced automatically, it won&apos;t be broken. In my recent projects, I tried less automated but more &quot;help a human&quot; solution.</p>
</div>
<div class="dialog dialog--question">
    <p>Ahahaha &#x201C;Help a human&#x201D;. I love it!</p>
</div>
<div class="dialog dialog--answer">
    <p>I&apos;m talking about building the code-reflecting styleguides and later using them for visual regression testing.</p>
    <p>I had a blog post about it, published in the SC5 Online website: <a href="https://sc5.io/posts/visual-regression-testing/">https://sc5.io/posts/visual-regression-testing/</a></p>
</div>
<div class="dialog dialog--question">
    <p>Yes, I saw you are working a lot in this space.</p>
</div>
<div class="dialog dialog--answer">
    <p>So, the idea is that we do have some room for an error. The markup may get broken. But we also have a process and the tools to spot it very quickly, before the release.</p>
    <p>This approach is less rocket science and mind-blowing as BEM. But I found it extremely easy to get into use.</p>
    <p>From this and from BEM experience, I now think that sometimes the solution should not be very methodological and even very logical :-) It should just work.</p>
</div>
<div class="dialog dialog--question">
    <p>Yes, one word that comes in my mind when I think to BEM (as described in theory) is &#x201C;rigid&#x201D;. When instead - and all the interviews I have done until now confirm it - people adopt a more &#x201C;BEM-ish&#x201D; way of using it, they mix it with helper classes, atomic classes, and a lot of &quot;special cases&#x201D; :)</p>
    <p>You talked about the community, and clearly you do a lot for the community. Do you think it still exists the front-end community? Or is it more and more a matter of tribes? Angular vs React, &#x201C;traditional&#x201D; CSS vs &#x201C;modern&#x201D;
        CSS, web as a universal platform vs web as application platform, and so on. Where do you find the energy, the commitment and the enthusiasm to share your learnings, to write articles and do talks? And what do you see as response from the
        community?</p>
</div>
<div class="dialog dialog--answer">
    <p>I personally love frontend community, I&apos;ve learned so much from it and got a lot of friends here.</p>
    <p>I consider it quite solid. There are indeed &quot;tribes&quot; of different technologies lovers. But I don&apos;t see it that strict.</p>
    <p>One person can belong to several tribes and the people also migrate :-)</p>
</div>
<div class="dialog dialog--question">
    <p>Yes, migrate. Nice word, with a lot of deep meanings nowadays...</p>
</div>
<div class="dialog dialog--answer">
    <p>The passion which many developers have for some technologies may look confusing for the others. I also was that huge BEM fan, it was almost like a religion. With the new technologies the feelings are a little bit different. I guess I got older and wiser.</p>
    <p>But this people, sometimes madly passionate about the technologies, they are the enthusiasts thanks to whom the frontend is developing and evolving so fast. I love this.</p>
    <p>However, last time my motivation to the open source contribution was not this young frontend developer madness. It was a rational decision to give back something to the place from where I get so much. And it worked surprisingly well.</p>
    <p>So, the main motivation is the people. Those which I have met and those which I will meet. I&apos;m a fan of TDD (Twitter driven development), BTW.</p>
</div>
<div class="dialog dialog--question">
    <p>Ah, I didn&apos;t know about this interpretation of TDD!</p>
    <p>Talking about sharing and speaking, I know for sure - <a href="https://twitter.com/cedmax">hello Marco</a>! :) - that you will give a talk at the upcoming <a href="https://2016.fromthefront.it">From the Front</a> conference, in September.</p>
    <p>Can you reveal what it will be about? Or is it still a secret?</p>
</div>
<div class="dialog dialog--answer">
    <p>It will cover the modular techniques in frontend as well. But this time, the ones which are simpler to adopt, I hope. I think you will soon learn more from the conference website and the social channels.</p>
</div>
<div class="dialog dialog--question">
    <p>Wow, very interesting!</p>
    <p>I&apos;ll let you go now. Thank you so much for your time, and for all the interesting things you have said. It&apos;s been a very interesting conversation.</p>
</div>
<div class="dialog dialog--answer">
    <p>Thank you as well. It&apos;s my first interview ever. I&apos;m already excited to read it soon. :-)</p>
</div>

{% endblock %}
