---
number: "06"
---

{% extends "../templates/pages/interview.html" %}

{% block biography %}

<p>Front-end developer working in the <a href="http://origami.ft.com/">Origami team</a> at the <a href="http://www.ft.com/">Financial Times</a> in London.</p>
<p>He has a keen interest in CSS and Sass, and advocates strongly for accessibility and progressive enhancement when building for the web.</p>
<p>Co-creator of <a href="https://twitter.com/12Devs">12 Devs of Xmas</a> and author of the book <a href="https://www.amazon.co.uk/WordPress-Theme-Development-Experts-Voice/dp/1430259140">Pro WordPress Theme Development</a>.</p>

{% endblock %}

{% block interview %}

{% endblock %}
