{% extends "../templates/pages/generic.html" %}

{% block main %}
<main class="more">
    <section class="more__section">
        <h2 class="more__title">about this project</h2>
        <p>“To BEM or not to BEM” is a series of (possibly) ten interviews to ten different people that have used <a href="https://en.bem.info/methodology/">the BEM methodology</a> on large CSS projects (on "real world" websites and applications, not simply "hello world" examples) to gather their feedback and opinions, to try to understand their learnings and experiences.</p>
        <p>It’s not about the methodology itself - you can find plenty of tutorials, talks and posts about it - but it wants to be a way of getting insights on what works well with BEM and what can go wrong, straight from the voices of the people that actually use it.</p>
        <p>It’s a side project I have decided to take on one evening, while I was reading <a href="https://medium.com/@pistenprinz/rebuilding-an-aircraft-on-the-fly-a-pattern-library-integration-at-trivago-b2fd6954a88e#.a2qlv5rl1">a post on Medium</a> and I was struck by this statement: &#x201C;While our CSS guidelines improved a lot with BEM and OOCSS we feared that not having the appropriate structure in place could be a challenge especially when it comes to rolling out the CSS to different applications. [...] In the meantime, to fight the CSS structure problem we found that ITCSS is the way to go.&#x201D;</p>
        <p>I have mixed opinions on BEM - on one side I totally understand the reasons to adopt it, on the other side I  think that (if not used correctly) the remedy may be worse than the disease. So reading about someone else’s experience made me extremely curious, and I started to wonder how many other people could have interesting experiences with BEM to share, how much I could learn from them, and maybe – finally – decide if embrace BEM or simply bear with it.</p>
        <p>So this project is essentially an attempt to give an answer to a question that has haunted me for a long time: to BEM ot not to BEM?</p>
        <p><a href="http://www.didoo.net/about/">Cristiano Rastelli</a></p>
    </section>
</main>
{% endblock %}
