{% extends "../templates/base.html" %}

{% block main %}
<main class="more">
    <section class="more__section">
        <h2 class="more__title">about this project</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sapiente ullam pariatur quas temporibus in possimus commodi similique dolorem incidunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis inventore ab illum mollitia molestiae, voluptates, provident odio consectetur excepturi voluptatibus impedit blanditiis asperiores. Beatae ex iusto architecto harum, ab et!</p>
    </section>
</main>
{% endblock %}
