{% extends "../templates/pages/generic.html" %}

{% block main %}
<main class="more">
    <section class="more__section">
        <h2 class="more__title">credits</h2>
        <p>The font used on this website is <a href="https://www.google.com/fonts/specimen/Lekton">Lekton</a>, designed by <a href="http://lucianoperondi.isiaurbino.net/">Luciano Perondi</a> and his students at Accademia di Belle Arti di Urbino. Thanks to Maurizio “<a href="http://ilpiac.com/">ilpiac</a>” Piacenza for inspiring me to use this amazing font.</p>
    </section>
</main>
{% endblock %}
