////////////////////////////////// GENERIC BASE STYLES //////////////////////////////////

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    position: relative;
    // height: 100%;
}

body {
    position: relative;
    // min-height: 100%;
    // overflow-y: scroll;
    font-family: 'Lekton', sans-serif;
    // text-rendering: optimizeLegibility;
    // -webkit-font-smoothing: antialiased;
    color: $text-color;
}

// disable pointer events for SVGs (see: https://css-tricks.com/links-inline-svg-staying-target-events/)
a > svg {
    pointer-events: none;
}


////////////////////////////////// STRUCTURE + STYLING //////////////////////////////////

// #main-content {
// }