////////////////////////////////// GENERIC BASE STYLES //////////////////////////////////

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    position: relative;
    -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in IE and iOS.
}

body {
    position: relative;
    max-width: $max-content-width;
    margin: 0px auto;
    font-family: 'Lekton', sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    color: $grey-base;
    // text-rendering: optimizeLegibility;
    // -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font-family: inherit;
}

a {
    color: inherit;
    -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
}

// disable pointer events for SVGs (see: https://css-tricks.com/links-inline-svg-staying-target-events/)
a > svg {
    pointer-events: none;
}

main {
    @extend %padded-content;
}
