////////////////////////////////// VARIABLES //////////////////////////////////

// colors
$grey-pale:  #E6E6E6;
$grey-light: #9B9B9B;
$grey-base:  #4A4A4A;
$grey-dark:  #000000;

// sizes
$size-tablet:  640px;
$size-desktop: 1000px;
$max-content-width: 1000px;
$pad-content-mobile: 5vw;
$pad-content-tablet: 40px;
$pad-content-desktop: 40px;

// styles
$block-border: 2px solid $grey-pale;
