<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ head_title|default(project.title) }}</title>
    <meta name="description" content="{{ head_description|default(project.description) }}">
    <meta name="author" content="Cristiano Rastelli">

    <link rel="stylesheet" href="css/main.min.css">

    {% if head_meta_social %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ head_meta_social.title }}"/>
    <meta property="og:description" content="{{ head_meta_social.description }}"/>
    <meta property="og:image" content="{{ head_meta_social.image }}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="640"/>
    <meta property="og:url" content="{{ head_meta_social.url }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{ head_meta_social.title }}"/>
    <meta name="twitter:description" content="{{ head_meta_social.description }}"/>
    <meta name="twitter:image" content="{{ head_meta_social.image }}"/>
    <meta name="twitter:creator" content="@areaweb">
    {% endif %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-138418-1', 'auto');
      ga('send', 'pageview');

    </script>

</head>
<body>

    {% include "partials/header.html" %}
    {% include "partials/navigation.html" %}
    {% block main %}{% endblock %}
    {% block footer %}{% endblock %}

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Lekton:400,700:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <script type="text/javascript">
        (function() {
            var togglers = document.querySelectorAll('.js-overlay-toggle'),
                menuitems = document.querySelectorAll('.navigation__menu a');

            // handle the overlay open/close togglers
            for(var i=0; i<togglers.length; i++) {
                togglers[i].addEventListener('click', function() {
                    document.body.classList.toggle('overlay-is-open');
                });
            }

            // defer the navigation so that the overlay can close before actually navigating away
            for(var j=0; j<menuitems.length; j++) {
                menuitems[j].addEventListener('click', function(e) {
                    var url = this.getAttribute('href');
                    document.body.classList.remove('overlay-is-open');
                    console.log(this,url);
                    setTimeout(function(){
                        window.location.href = url;
                        // window.location.reload(true);
                    }, 500);
                });
            }
        })();
    </script>

    {% block extra_scripts %}{% endblock %}

</body>
</html>