<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ head_title|default(project.title) }}</title>
    <meta name="description" content="{{ head_description|default(project.description) }}">
    <meta name="author" content="Cristiano Rastelli">

    <link rel="stylesheet" href="css/main.min.css">

</head>
<body>

    {% include "partials/header.html" %}
    {% include "partials/navigation.html" %}
    {% block main %}{% endblock %}
    {% include "partials/footer.html" %}

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Lekton:400,700:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <script type="text/javascript">
        (function() {
            var togglers = document.querySelectorAll('.js-overlay-toggle'),
                menuitems = document.querySelectorAll('.navigation__menu a');

            // handle the overlay open/close togglers
            for(var i=0; i<togglers.length; i++) {
                togglers[i].addEventListener('click', function() {
                    document.body.classList.toggle('overlay-is-open');
                });
            }

            // defer the navigation so that the overlay can close before actually navigating away
            for(var j=0; j<menuitems.length; j++) {
                menuitems[j].addEventListener('click', function(e) {
                    var url = this.getAttribute('href');
                    document.body.classList.remove('overlay-is-open');
                    console.log(this,url);
                    setTimeout(function(){
                        window.location.href = url;
                        // window.location.reload(true);
                    }, 500);
                });
            }

        })();
    </script>

</body>
</html>