{% extends "./base.html" %}

{% block main %}
<article class="interview">

    {% if status == 'public' %}
        <aside class="interview__intro">
            <span class="interview__number">#{{ number }}</span>
            <h2 class="interview__title">{{ nameslug }}</h2>
            <div class="interviewee">
                <img class="interviewee__avatar" src="{{ interviewee.avatar }}" alt="{{ interviewee.fullname }}">
                <div class="interviewee__bio">{{ interviewee.fullbio|safe }}</div>
                <ul class="interviewee__links">
                    {% for link in interviewee.links %}
                    <li><a href="{{ link.url }}" alt="">{{ link.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        <section class="interview__main">
            {% block inteview %}
            {% endblock %}
        </section>
        <div class="interview__meta">
            <div class="when">This interview has been published on <time>{{ date|date('d M Y') }}</time></div>
        </div>
    {% else %}
        <pre>COMING SOON</pre>
    {% endif %}

</article>
{% endblock %}
