{% extends "./base.html" %}

{% set interview = interviews[number] %}

{% block main %}
<article class="interview">

    {% if interview.status == 'public' %}
        <aside class="interview__intro">
            <span class="interview__number">#{{ number }}</span>
            <h2 class="interview__title">{{ interview.nameslug }}</h2>
            <div class="interviewee">
                <img class="interviewee__avatar" src="{{ interview.interviewee.avatar }}" alt="{{ interview.interviewee.fullname }}">
                <div class="interviewee__bio">
                    {% block biography %}
                    {% endblock %}
                </div>
                <ul class="interviewee__links">
                    {% for link in interview.interviewee.links %}
                    <li><a href="{{ link }}" alt="">{{ loop.key }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        <section class="interview__main">
            {% block interview %}
            {% endblock %}
        </section>
        <div class="interview__meta">
            <div class="when">This interview has been published on <time>{{ date|date('d M Y') }}</time></div>
        </div>
    {% else %}
        <pre>COMING SOON</pre>
    {% endif %}

</article>
{% endblock %}
