////////////////////////////////// HEADER //////////////////////////////////

header {
    @extend %padded-content;
}

.header__wrapper {
    position: relative;
    padding: 40px 0px 30px;
    text-align: center;
    @include media(tablet) {
        padding: 50px 0px 60px;
        text-align: left;
        border-bottom: $block-border;
    }
}

.header__logo {
    display: block;
    font-weight: bold;
    font-size: 7.5vw;
    line-height: 1em;
    text-decoration: none;
    color: $grey-dark;
    &:hover {
        // TODO
    }
    @include media(tablet) {
        font-size: 40px;
    }
    @include media(desktop) {
        font-size: 52px;
    }
}

.header__caption {
    display: block;
    margin-top: 5vw;
    padding-left: 4px;
    font-size: 4vw;
    line-height: 1em;
    color: $grey-light;
    @include media(tablet) {
        font-size: 18px;
        margin-top: 20px;
    }
}

.header__toggle {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 10px 0px;
    color: $grey-light;
    cursor: pointer;
    @include media(tablet) {
        display: block;
    }
    @include media(desktop) {
        top: 60px;
    }
    &:hover {
        color: $grey-dark;
    }

    svg {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        fill: currentColor;
        @include media(desktop) {
            width: 22px;
            height: 22px;
        }
    }

    span {
        display: inline-block;
        font-size: 18px;
        line-height: 23px;
        vertical-align: top;
        @include media(desktop) {
            font-size: 20px;
            line-height: 25px;
        }
    }

}
